div.module.module--address
	
	div.module--address__text

		div.module--address__text__address
			p
				| Calle de las Escuelas, 40#[br]
				| 28607 El Álamo (Madrid)
				
		div.module--address__text__phone
			p
				a(href="tel:+34 918 12 04 40") +34 918 12 04 40
