div.module.module--address
	
	div.module--address__text

		div.module--address__text__address
			p
				| Calle de Mejía Lequerica, 7#[br]
				| 28004 Madrid
				
		div.module--address__text__phone
			p
				a(href="tel:+34 915 93 16 60") +34 915 93 16 60
