div.module.module--team

	article.module--team__section#rafael-perez-escariz

		div.module--team__section__image
			img(src="/img/equipo-rafael-perez-escariz-m.jpg" alt="Dr. Rafael Pérez-Escariz" width="640" height="427").appear
		div.module--team__section__text
			h2 Dr. Rafael Pérez-Escariz
			
			p Licenciado en Medicina por la UCM.
			p Funcionario por oposición del Ministerio de Sanidad y Consumo con cargo de Jefe Local de Sanidad.
			p Licenciado en Odontología por la UCM.
			
			p Diplomas Postgrado UCM en:
			ul
				li Periodoncia avanzada (2007).
				li Odontología estética(2008).
				li Diagnóstico y tratamiento de la disfunción cráneomandibular (2010).
				li Endodoncia avanzada (2011).
				li Sedación (2014).

			p Diploma en "Gestión empresarial de la clínica dental" por ESADE (2013).
			p Socio titular de Sociedad Española de Periodoncia.

			p En constante formación en España y fuera de España:
			ul
				li Estancia en Clínica Dr. Ángel Bustillo (Pamplona) - Injertos óseos (2009).
				li Estancia en Clínica Dr. Steffen Kistler (Munich) - Implantología (2016).
				li Curso practico Estética y Morfología Dr. Newton Fahl - Estética con composites (2016).

	article.module--team__section#juhani-lipasti

		div.module--team__section__image
			img(src="/img/equipo-juhani-lipasti-m.jpg" alt="Dr. Juhani Lipasti" width="640" height="427").appear
		div.module--team__section__text
			h2 Dr. Juhani Lipasti
			
			p Título de Licenciado en Odontología por la Universidad de Helsinki, Finlandia (1982).
			p Título de Especialista en Cirugía Oral por la Universidad de Helsinki, Finlandia, Departamento de Cirugía Maxilofacial (1986-1990).
			p Médico adjunto en el Departamento de Cirugía Maxilofacial del Hospital Universitario de Helsinki y Tampere, Finlandia.
			p Becario de Cirugía Bucal y Maxilofacial, Hospital Universitario de Basilea, Suiza (1993).
			p Dictante de diversos cursos de cirugía bucal e implantes.
			p Country Manager Dentalmammoth Ltd-spain.

	article.module--team__section#estefania-laguna

		div.module--team__section__image
			img(src="/img/equipo-estefania-laguna-m.jpg" alt="Dra. Estafanía Laguna" width="640" height="427").appear
		div.module--team__section__text
			h2 Dra. Estafanía Laguna
			
			p Licenciada en Odontología. Universidad Complutense de Madrid (UCM).
			p Magister en Peiriodoncia e Implantes - UCM.
			p Board Europeo de Periodoncia. European Federation of Periodontology.
			p Título Experto en Cirugía y Prótesis sobre Implantes en Centro Europeo de Ortodoncia (CEOSA).
			p Magister Oficial en Ciencias Odontológicas - UCM.
			p Profesor del Máster de Odontología Restauradora Basada en las Nuevas Tecnologías - UCM.
			p Profesor Colaborador del Máster en Cirugía Oral, Periodoncia, e Implantología, Institución Mississippi.
			p Colaboración docente en el Curso “Diagnóstico y tratamiento periodontal”, organizado por Sociedad española de Periodoncia y Osteointegración.
			p Autora de publicaciones científicas nacionales e internacionales.
			p Miembro Especialista de la Sociedad Española de Periodoncia y Osteointegración (SEPA).
			p Conferenciante a nivel nacional.

	article.module--team__section#maria-naranjo

		div.module--team__section__image
			img(src="/img/equipo-maria-naranjo-m.jpg" alt="Dra. María Naranjo Ibáñez" width="640" height="427").appear
		div.module--team__section__text
			h2 Dra. María Naranjo Ibáñez

			p Licenciada en Odontología por la UCM.
			p Master en Ortodoncia por la Universidad Complutense de Madrid.
			p Certificación en Técnica Invisalign.
			p Invisalign Gold Provider.
			p Master en Técnica de Ortodoncia Autoligable Damon.
			p Certificacion en Técnica de Ortodoncia Lingual Win.

	article.module--team__section#maria-rebolloso

		div.module--team__section__image
			img(src="/img/equipo-maria-rebolloso-m.jpg" alt="Dra. María Rebolloso" width="640" height="427").appear
		div.module--team__section__text
			h2 Dra. María Rebolloso

			p Licenciada en Odontología por la Universidad Europea de Madrid.
			p Master de Odontopediatría por la Universidad Complutense de Madrid. Tesina: Hipomineralización Incisivo-Molar.
			p Ponente en el 8º Cogreso de la Sociedad Española de Odontologia Infantil (SEOI).
			p Ponente en la XIII Reunión Anual de la Sociedad Española de Odontopediatría (SEOP).
			p Dirección de Instalaciones Radiológicas (UEM 2008).
			p Tratamiento Bajo Anestesia General (UCM 2014).
			p Sedación en Odontología (UCM 2015).

	article.module--team__section#natalia-garcia-moneo

		div.module--team__section__image
			img(src="/img/equipo-natalia-garcia-moneo-m.jpg" alt="Dra. Natalia García Moneo" width="640" height="427").appear
		div.module--team__section__text
			h2 Dra. Natalia García Moneo

			p Licenciada en Odontologia por la UCM.
			p Master en Endodoncia Avanzada por la Universidad Europea de Madrid.
			p Profesora de Endodoncia y Odontologia Restauradora en la Universidad Europea de Madrid.
			p Diploma en Odontología Estética.
			p Premio anual 2013 al mejor artículo científico universidades de la CAM.
			p Premio a la mejor comunicación científica presentada en las III Jornadas Complutenses y II Congreso Nacional.
			p Practica exclusiva en endodoncia.
