doctype html
html
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="format-deTtion" content="telephone=no")
		link(rel="shortcut icon" href="/icon/favicon.ico")
		link(rel="apple-touch-icon" href="/icon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="57x57" href="/icon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/icon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/icon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/icon/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/icon/apple-touch-icon-152x152.png")

		title 044001 Clínica dental Escariz - Sitio web comercial (Front-end) - MUSKAE

		link(href="/index/index.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')

	body
		div#general
			header#header
				div.inner
					p.header_logo
						span Muskae
					h1.header_title
						p.header_title_client Clínica dental Escariz
						p.header_title_project Sitio web
						p.header_title_code 044001
			div#content
				div.inner
					section
						h2 Plantillas
						ul.templateList
							li
								a(href="/es/" target="_blank") Portada
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/tratamientos/" target="_blank") Tratamientos
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/tratamientos/implantologia-y-estetica/" target="_blank") Tratamientos - Implantología y estética
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/tratamientos/periodoncia/" target="_blank") Tratamientos - Periodoncia
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/tratamientos/odontopediatria/" target="_blank") Tratamientos - Odontopediatría
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/equipo-humano" target="_blank") Equipo humano
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/nuestros-centros/" target="_blank") Nuestros centros
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/nuestros-centros/madrid/" target="_blank") Nuestros centros - Madrid
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/nuestros-centros/el-alamo/" target="_blank") Nuestros centros - El Álamo
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="#" target="_blank") Contacto sin formulario
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/contacto-form/" target="_blank") Contacto con formulario
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/contacto-form-enviado/" target="_blank") Contacto con formulario - Enviado
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/contacto-form-errores/" target="_blank") Contacto con formulario - Errores
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/error404/" target="_blank") Error 404
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/politica-de-cookies/" target="_blank") Política de cookies
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
							li
								a(href="/es/terminos-legales/" target="_blank") Términos legales y política de privacidad
								ul.templateList_status
									li.green T
									li.green A
									li.green V
									li.green S
			footer#footer
				div.inner
					hr
					section.footer_legend
						div.inner
							h2.footer_legend_title Leyenda
							ul.footer_legend_colors
								li.gray En proceso
								li.yellow Lista para validar
								li.green Válida
								li.red No válida
							ul.footer_legend_areas
								li #[span T] Tecnología
								li #[span A] Arquitectura de la información
								li #[span V] Diseño visual y de interacción
								li #[span S] SEO
