div.module.module--map
	
	a(href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.0836603606713!2d-3.9933896119478796!3d40.22944207307658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41eb5a05a6b3f1%3A0x9b9a4fe9389e672d!2sCLINICA+DENTAL+ESCARIZ!5e0!3m2!1ses!2ses!4v1483522582655" data-fancybox-type="iframe")
		
		div.module--map__image(style="background-image:url(/img/map-el-alamo.png)")
		div.module--map__text Haz clic para ampliar el mapa
