div.module.module--map
	
	a(href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3037.209445909286!2d-3.6982168!3d40.4263609!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422889310558bd%3A0xd82a87af9bc34e4!2sCLINICA+DENTAL+ESCARIZ!5e0!3m2!1ses!2ses!4v1483523121372" data-fancybox-type="iframe")
		
		div.module--map__image(style="background-image:url(/img/map-madrid.png)")
		div.module--map__text Haz clic para ampliar el mapa
