extends ../../../html/layouts/layout_default

block navigation
	include ../../../html/structure/navigation/navigation_treatments_interior

block modal__inner
	div#modal__inner

		a(href="/es/tratamientos/")#modal__back
			span Volver

		div#modal__content
			div#modal__content__inner

				div.modal__content__heading
		
					h1 #[span.modal__content__heading__parent Tratamientos] #[span.modal__content__heading__sep :] Odontopediatría
					div.modal__heading__intro
						p El cuidado dental es un hábito que se aprende desde la infancia y que perdura toda la vida. Los dientes y encías bien cuidados ayudan a los niños a mantener una buena salud a nivel general, no sólo dental.

				div.module.module--wysiwyg

					p Cuando los niños presentan caries u otro tipo de enfermedad oral las consecuencias pueden ser negativas: deficiencias en la nutrición, trastornos del lenguaje, etc. y en muchas ocasiones problemas con su autoestima.
					p Por estas razones es tan importante cuidar y enseñar a los niños los #[strong hábitos de higiene bucal]. Estos deben ser reforzados por los padres durante su crecimiento, inclusive con los recién nacidos.
					p #[strong Visitar al odontopediatra] desde la aparición del primer diente en adelante asegura que el niño tomará confianza desde muy pequeño en las consultas y se familiarizará con olores, sonidos y sensaciones durante un tratamiento.
					p Se recomienda, antes de empezar el tratamiento, hacer una o más citas de reconocimiento para que el niño no tenga un comportamiento negativo hacia el profesional.

					br

					div.wp-caption
						img(src="/img/odontopediatria-01.jpg" width="1920" height="1522" alt="Odontopediatría")

					h2 Tratamientos que realizan los odontopediatras:
					
					h3 Intervenciones de carácter preventivo
					
					ul
						li Aplicación de gel de flúor de alta concentración.
						li Selladores de fosas y fisuras. Previene la aparición de caries.
						li Enseñanza de técnicas de higiene oral (cepillado, uso de hilo dental...).
						li Profilaxis o limpieza dental.
					
					h3 Tratamiento de la caries
					
					p Tanto en dientes de “leche” (deciduos) como en "definitivos":

					ul
						li #[strong Pulpotomía:] Consiste en eliminar parte de la pulpa o nervio del diente (pulpa cameral) y posterior reconstrucción o colocación de corona metálica preformada.
						li #[strong Pulpectomia:] Eliminación de 2/3 partes de la pulpa o nervio del diente temporal (pulpa radicular) y su restauración con una obturación o una corona metálica preformada.
					
					h3 Mantenedores de espacio
					
					p Se recomienda su colocación después de extraer un diente de "leche" para evitar el desplazamiento de los dientes adyacentes, así como problemas en la erupción del diente definitivo.

					h3 Traumatismos dentofaciales
					
					p Muy frecuentes a estas edades. Si el niño presenta un trauma de esta índole puede presentar fisuras o fracturas dentales o alveolares que deben ser diagnosticadas y tratadas con inmediatez.
					p Si el niño por un golpe o caída pierde un diente definitivo, éste puede reimplantarse, siempre que se acuda de inmediato y el diente se haya conservado correctamente durante su transporte.
					
					br
						
					p Por último, la Odontopediatría estudia las posibles anomalías en la posición de los maxilares o dientes para derivarlos al ortodoncista. Por este motivo es fundamental formar un buen equipo y tener una buena coordinación entre odontopediatra y ortodoncista.
