extends ../../html/layouts/layout_default

block navigation
	include ../../html/structure/navigation/navigation_home

block modal
	div#modal
		div#modal__inner

			a(href="/es/")#modal__back
				span Volver

			div#modal__content
				div#modal__content__inner

					div.modal__content__heading
		
						H1 Política de cookies
						div.modal__heading__intro

					include ../../html/modules/module-wysiwyg/module-wysiwyg-politica-de-cookies
