div.module.module--treatments

	article.module--treatments__section#implantologia

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#rafael-perez-escariz" title="Dr. Rafael Pérez-Escariz")
				img(src="/img/tratamiento-implantologia-m.jpg" alt="Implantología" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Implantología y estética
			p Soy el #[a(href="/es/equipo-humano/#rafael-perez-escariz") doctor Pérez-Escariz]. Llevo ejerciendo como odontólogo al frente de mis clínicas desde que se fundaron en 1995 y 1997.
			p Me ocupo de realizar el diagnóstico y el plan de tratamiento de nuestros pacientes y de coordinar el equipo de especialistas que lo realizarán junto conmigo.
			p Me gusta el estudio de cada caso en su globalidad, y disfruto con la visión del resultado final. Las áreas que más me gustan y en las que más me formo son la estética y la implantología.
			p Mis objetivos son satisfacer las expectativas de nuestros pacientes, obtener resultados duraderos y que se sientan cómodos y bien atendidos. Nuestra vocación de servicio y ayuda determina todas nuestras acciones.
			p #[a(href="/es/tratamientos/implantologia-y-estetica/").a--arrow Más información sobre Implantología y estética]
			
	article.module--treatments__section#odontologia

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#juhani-lipasti" title="Dr. Juhani Lipasti")
				img(src="/img/tratamiento-odontologia-m.jpg" alt="Odontología" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Odontología y cirugía oral
			p Soy el #[a(href="/es/equipo-humano/#juhani-lipasti") doctor Juhani Lipasti], finlandés de nacimiento. Mi familia y yo llevamos afincados en Madrid ya 23 años y tengo mi consulta en la clínica del doctor Pérez-Escariz desde el año 2000.
			p Mi especialidad es la cirugía e implantes, pero siempre me ha encantado hacer odontología general.
			p #[a(href="/es/tratamientos/odontologia-y-cirugia-oral/").a--arrow Más información sobre Odontología y cirugía oral]

	article.module--treatments__section#periodoncia

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#estefania-laguna" title="Dra. Estefanía Laguna")
				img(src="/img/tratamiento-periodoncia-m.jpg" alt="Periodoncia" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Periodoncia
			p Soy la #[a(href="/es/equipo-humano/#estefania-laguna") doctora Estefanía Laguna]. Dentro de la clínica soy la periodoncista, la persona que se encarga del diagnóstico y tratamiento de las encías.
			p Actualmente los problemas de encías son junto con las caries dentales el principal problema de salud oral de la población española. Entre ellos la periodontitis (antiguamente conocida como piorrea) y la gingivitis, son las patologías de encías más frecuentes. 
			p Aconsejamos las visitas periódicas para un correcto diagnóstico y mantenimiento por parte del periodoncista. Guiamos a cada uno de nuestros pacientes de manera personalizada hacia la prevención y tratamiento más adecuado a largo plazo.
			p El principal objetivo de mi trabajo como periodoncista es intentar mantener todos los dientes de mis pacientes, cumpliendo los objetivos de salud, función y estética adecuada para lograr un correcto equilibrio oral.
			p #[a(href="/es/tratamientos/periodoncia/").a--arrow Más información sobre Periodoncia]

	article.module--treatments__section#ortodoncia

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#maria-naranjo" title="Dra. María Naranjo")
				img(src="/img/tratamiento-ortodoncia-m.jpg" alt="Ortodoncia" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Ortodoncia
			p Soy la #[a(href="/es/equipo-humano/#maria-naranjo") doctora María Naranjo], especialista en ortodoncia.
			p Nuestro objetivo como especialistas es mejorar la estética de tu sonrisa dejándote una oclusión perfecta.
			p Existen múltiples técnicas para conseguirlo, pero hoy en día la más demandada es la ortodoncia invisible, que nosotros seguimos practicando con la técnica original de invisalign (USA).
			p No hay un límite de edad para la ortodoncia, pero es imprescindible un detallado estudio y un buen diagnóstico para descubrir la técnica más adecuada para cada caso.
			p El éxito de mi trabajo es acompañarte para que juntos consigamos la mejor de tus sonrisas.

	article.module--treatments__section#odontopediatria

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#maria-rebolloso" title="Dra. María Rebolloso")
				img(src="/img/tratamiento-odontopediatria-m.jpg" alt="Odontopediatría" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Odontopediatría
			p Soy la doctora #[a(href="/es/equipo-humano/#maria-rebolloso") María Rebolloso]. Mi reto y mi misión como odontopediatra es conseguir que los niños, en sus primeras visitas con el dentista, logren tener experiencias gratificantes y provocadoras de salud.
			p La odontopediatría abarca el cuidado oral desde los bebés hasta los adolescentes.
			p Además le concedemos una gran importancia a la orientación e implicación de las familias en dichos cuidados.
			blockquote No deberías esperar a que tu hijo tenga dolor para llevarlo por primera vez al odontopediatra. Una primera visita al año ayudará al diagnóstico precoz de enfermedades y a que tu hijo se acostumbre a la consulta dental.
				cite Sociedad Española de Odontología Pediátrica (SEOP)
			p #[a(href="/es/tratamientos/odontopediatria/").a--arrow Más información sobre Odontopediatría]

	article.module--treatments__section#endodoncia

		div.module--treatments__section__image
			a(href="/es/equipo-humano/#natalia-garcia-moneo" title="Dra. Natalia García Moneo")
				img(src="/img/tratamiento-endodoncia-m.jpg" alt="Endodoncia" width="640" height="427").appear
		div.module--treatments__section__text
			h2 Endodoncia
			p Soy la #[a(href="/es/equipo-humano/#natalia-garcia-moneo") doctora Natalia García Moneo], y hacer endodoncias es mi especialidad.
			p Muchas veces, cuando un diente duele, por una caries muy profunda o por haber sufrido un traumatismo severo, es que su pulpa está enferma. Yo soy una experta en curar esas pulpas.
			p Mi misión: Proveer la mejor atención endodóntica posible de acuerdo con el conocimiento científico actual y en relación a los avances disponibles en cuanto a técnicas y materiales.
