div.module.module--wysiwyg
	
	h2 Objeto

	p El presente sitio web ha sido diseñado para dar a conocer los servicios ofertados por la entidad #[strong Clínica Dental Escariz], C/ Mejía Lequerica, 7, 28004, Madrid; así como para la recepción de posibles clientes, contactos comerciales y demandas de información.

	h2 Propiedad intelectual e industrial

	p Los derechos de propiedad intelectual de la página www.clinicadentalescariz.com, su código fuente, diseño, estructuras de navegación y los distintos elementos en ella contenidos son titularidad de #[strong Clínica Dental Escariz], a quien corresponde el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma y, en especial, los derechos de reproducción, distribución, comunicación pública y transformación, de acuerdo con la legislación española y de la Unión Europea aplicable. El sitio web, las páginas que comprende y la información o elementos contenidos en las mismas, incluyen textos, documentos, fotografías, dibujos, representaciones gráficas, programas informáticos, así como logotipos, marcas, nombres comerciales, u otros signos distintivos, protegidos por derechos de propiedad intelectual o industrial, de los que #[strong Clínica Dental Escariz] es titulare o legítima licenciataria.

	h2 Contenidos

	p Se facilita a través de este sitio web información acerca de servicios destinados a conocimiento público que en todo caso se sujetarán a los términos y condiciones expresamente detallados en cada momento y que son accesibles desde esta página Web, los cuales se sujetarán a las distintas disposiciones legales de aplicación.

	h2 Acceso y uso

	p Tanto el acceso a este sitio web, como el uso que pueda hacerse de la información y contenidos incluidos en el mismo, será de la exclusiva responsabilidad de quien lo realice. Las condiciones de acceso a este sitio web estarán supeditadas a la legalidad vigente y los principios de la buena fe y uso lícito por parte del usuario del mismo, quedando prohibido con carácter general cualquier tipo de actuación en perjuicio de #[strong Clínica Dental Escariz]. Se considerará terminantemente prohibido el uso del presente sitio web con fines ilegales o no autorizados. Queda prohibida cualquier modalidad de explotación, incluyendo todo tipo de reproducción, distribución, cesión a terceros, comunicación pública y transformación, mediante cualquier tipo de soporte y medio, de las obras antes referidas, creaciones y signos distintivos sin autorización previa y expresa de sus respectivos titulares. El incumplimiento de esta prohibición podrá constituir infracción sancionable por la legislación vigente. No obstante, por su cuenta y riesgo, el usuario podrá descargar o realizar copia de tales elementos exclusivamente para su uso personal, siempre que no infrinja ninguno de los derechos de propiedad intelectual o industrial de #[strong Clínica Dental Escariz], ni los altere total o parcialmente. En ningún caso, ello significará una autorización o licencia sobre los derechos de propiedad de #[strong Clínica Dental Escariz]. Queda prohibido, salvo en los casos que expresamente lo autorice #[strong Clínica Dental Escariz], presentar las páginas de #[strong Clínica Dental Escariz], o la información contenida en ellas bajo frames o marcos, signos distintivos, marcas o denominaciones sociales o comerciales de otra persona, empresa o entidad.

	h2 Responsabilidad

	p #[strong Clínica Dental Escariz] no se hace responsable bajo ningún concepto por ningún tipo de daño que pudiesen ocasionar los Usuarios al presente sitio web, o a cualquier otro, por el uso ilegal o indebido del mismo, o de los contenidos e informaciones accesibles o facilitadas a través de él.

	h2 Servicio

	p #[strong Clínica Dental Escariz] se reserva el derecho de suspender el acceso a su sitio web, sin previo aviso, de forma discrecional y temporal, por razones técnicas o de cualquier otra índole, pudiendo asimismo modificar unilateralmente tanto las condiciones de acceso, como la totalidad o parte de los contenidos en ella incluidos.

	h2 Generales

	p Para toda cuestión litigiosa o que incumba al sitio web de #[strong Clínica Dental Escariz], será de aplicación la legislación española, siendo competentes para la resolución de todos los conflictos derivados o relacionados con el uso de este sitio web, los Juzgados y Tribunales del domicilio del usuario. El acceso al sitio web de #[strong Clínica Dental Escariz] implica la aceptación de todas las condiciones anteriormente expresadas.

	h2 Hiperenlaces

	p Los hiperenlaces contenidos en el sitio web de #[strong Clínica Dental Escariz] pueden dirigir a páginas web de terceros. #[strong Clínica Dental Escariz] no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre #[strong Clínica Dental Escariz] y a las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.

	h2 Política de privacidad y protección de datos

	h3 General

	p A los efectos de lo previsto en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal, #[strong Clínica Dental Escariz] le informa que cumple íntegramente con la legislación vigente en materia de protección de datos de carácter personal, y con los compromisos de confidencialidad propios de su actividad. #[strong Clínica Dental Escariz] pone en su conocimiento la existencia de unos ficheros de datos de carácter personal, titularidad de #[strong Clínica Dental Escariz], para las finalidades propias de gestión, comunicación e información. Los citados ficheros se encuentran inscritos en el Registro General de la Agencia Española de Protección de Datos, al que puede acceder el usuario para comprobar la situación de los mismos.

	h3 Medidas y niveles de seguridad

	p #[strong Clínica Dental Escariz] ha adoptado las medidas necesarias para mantener el nivel de seguridad requerido, según la naturaleza de los datos personales tratados y las circunstancias del tratamiento, con el objeto de evitar, en la medida de lo posible y siempre según el estado de la técnica, su alteración, pérdida, tratamiento o acceso no autorizado.

	h3 Ámbito de aplicación

	p La estructura de ficheros, equipos y sistemas de información con el objeto de dar cumplimiento a la legislación vigente en  materia de protección de datos, se aplicarán a todos los ficheros, temporales o permanentes, titularidad de #[strong Clínica Dental Escariz], que contengan datos de carácter personal, así como a cualquier equipo o sistema de información que los trate. Todo el personal contratado por #[strong Clínica Dental Escariz] y sus Encargados de Tratamiento, están obligados al cumplimiento de la citada normativa, con especial atención en lo relativo a sus funciones y obligaciones, que serán debidamente determinadas por #[strong Clínica Dental Escariz].

	h3 Recogida de datos

	p La aceptación de las presentes condiciones, precisa del usuario la recogida de unos datos imprescindibles para la prestación de sus servicios, que le serán solicitados personalmente a través de formularios o de la página Web. En el momento de la recogida de los datos, el usuario será debidamente informado de los derechos que le asisten. Para que la información que contienen nuestros ficheros esté siempre actualizada y no contenga errores, pedimos a nuestros clientes y usuarios que nos comuniquen, a la mayor brevedad posible, las modificaciones y rectificaciones de sus datos de carácter personal.

	h3 ejercicio de derechos

	p Los derechos de acceso, rectificación, cancelación y oposición, podrán ser ejercitados por el usuario, o quien a este represente, mediante solicitud escrita y firmada, dirigida a #[strong Clínica Dental Escariz], C/ Mejía Lequerica, 7, 28004, Madrid. No obstante podrán utilizarse otros medios que permitan reconocer la identidad del cliente que ejercite cualquiera de los anteriores derechos.

	h3 consentimiento

	p El usuario prestará su consentimiento para que #[strong Clínica Dental Escariz] pueda hacer uso de sus datos personales a fin de prestar un correcto cumplimiento de los servicios contratados. La cumplimentación del formulario incluido en el sitio o el envío de correos electrónicos u otras comunicaciones a #[strong Clínica Dental Escariz], implica el consentimiento expreso del cliente a la inclusión de sus datos de carácter personal en el referido fichero, titularidad de #[strong Clínica Dental Escariz]. Al tiempo de la petición de esta información, se comunicará al cliente o usuario del destinatario de la información, de la finalidad para la cual se recogen los datos, de la identidad y dirección del Responsable del Fichero y de la facultad del usuario de ejercitar los derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos.

	h3 Cesión a terceros

	p #[strong Clínica Dental Escariz] no cede datos de carácter personal sin el consentimiento expreso de sus titulares, que deberá ser concedido en cada ocasión, siendo sólo cedidos con la finalidad expresada y siempre con el consentimiento del usuario o cliente.

	h3 Confidencialidad y secreto profesional

	p Los datos recogidos en todas las comunicaciones privadas entre #[strong Clínica Dental Escariz] y los clientes o usuarios serán tratados con absoluta confidencialidad, comprometiéndose #[strong Clínica Dental Escariz] a la obligación de secreto de los datos de carácter personal, a su deber de guardarlos y adoptar todas las medidas necesarias que eviten su alteración, pérdida y tratamiento o acceso no autorizado, de acuerdo con lo establecido en el Reglamento de Medidas de Seguridad de los Ficheros que contengan datos de carácter personal. Además, también tendrá la condición de confidencial la información de cualquier tipo que las partes intercambien entre sí, aquella que estas acuerden que tiene tal naturaleza, o la que simplemente verse sobre el contenido de dicha información. La visualización de datos a través de Internet, no supondrá el acceso directo a los mismos, salvo consentimiento expreso de su titular para cada ocasión. Recomendamos al cliente que no facilite a tercero alguno su identificación, contraseña o números de referencia que #[strong Clínica Dental Escariz] pudiera proporcionarle. Asimismo, para garantizar que la protección del secreto profesional entre #[strong Clínica Dental Escariz] y el cliente se preserve en todas las comunicaciones, el cliente/usuario no debe revelar la información confidencial a terceros.

	h3 Cambios en la política de seguridad y de protección de datos

	p #[strong Clínica Dental Escariz] se reserva el derecho de modificar su política de seguridad y protección de datos con el objeto de adaptarlo a las novedades legislativas o jurisprudenciales, así como las que pudieran derivarse de códigos tipo existentes en la materia, o por decisiones corporativas estratégicas, con efectos de la fecha de publicación de dicha modificación en el sitio web de #[strong Clínica Dental Escariz].

	h3 Dirección de contacto

	p El sitio Web www.clinicadentalescariz.com es gestionado por #[strong Clínica Dental Escariz], Rafael Pérez-Escariz Sánchez, con CIF 50292086X. El fichero creado está ubicado en el domicilio social, el cual queda establecido a los efectos del presente Aviso Legal, en #[strong Clínica Dental Escariz], C/ Mejía Lequerica, 7, 28004, Madrid, bajo la supervisión y control de #[strong Clínica Dental Escariz], quien asume la responsabilidad en la adopción de medidas de seguridad de índole técnica y organizativa para proteger la confidencialidad e integridad de la información, de acuerdo con lo establecido en la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal, y demás legislación aplicable. #[strong Clínica Dental Escariz], a tenor de la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico, les comunica que la acepción amplia de dicha Ley, engloba entre estos servicios el suministro de información por dicho medio. En todo caso, será de aplicación a este respecto, la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal, y su normativa de desarrollo, en especial, en lo que se refiere a la obtención de datos personales, la información a los interesados y la creación y mantenimiento de ficheros de datos personales.