section.module.module--quotes
	div.module__inner1
		div.module__inner2

			ul.module--quotes__list
				
				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name Alexander Voronyuk] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p Mi experiencia con la Clínica Dental Escariz: por su ubicación céntrica es muy cómoda para acudir a una cita. Siempre me he encontrado con una agradable recepción. Entre las visitas realizadas, la mayoría han sido atendidas muy rápido y sin retrasos, salvo algunos casos aislados de contratiempo.
						p El Doctor Escariz es muy atento y sensible a cualquier detalle en relación con el proceso de tratamiento y es capaz de darte unas explicaciones llegando hasta nivel celular, si uno quiere, que a mí sí me gusta. También te proporciona alternativas para que elijas tú mismo.
						p El ambiente del lucido despacho equipado con dispositivos de última tecnología, la agradable música de fondo y otros detalles creativos, colaboran con la atención profesional en torno a tu persona. Y lo más importante: los materiales son de alta calidad.
						p En fin, Rafael Escariz es como un amigo para mí, con quien tengo plena confianza en asuntos de mí tratamiento dental.

				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name J.P.T.] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p Acudí al Dr. Lipasti en el año 2004 después de varias consultas a otros facultativos y preocupado, ya que las soluciones debido a como tenía las encías y la mandíbula no eran satisfactorias, y la situación ya mermaba mi calidad de vida. El Dr. Lipasti no solo me practicó la curación total de mis encías sino que procedió a efectuar implantes totalmente indoloros y nada traumáticos, por lo que disfrute en un breve espacio de tiempo de una dentadura perfecta y que me da la sensación de ser mis propios dientes.
						p Diez años después me ha arreglado la dentadura inferior con la misma técnica y estoy encantado. Así mismo mi mujer acudió al Dr. Lipasti hace tres años y le hizo un puente fijo que mejoro incluso su estética.
