section.module.module--quotes
	div.module__inner1
		div.module__inner2

			ul.module--quotes__list
				
				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name Beltrán Usera] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p A lo largo de los últimos dos años he acudido en varias ocasiones a la clínica del Doctor Escariz por motivos varios, desde una férula, la ortodoncia de mi hija, hasta un implante molar por rotura de la muela. En todas las ocasiones he tenido una experiencia muy gratificante (a pesar de tratarse de ir al dentista).
						p En primer lugar la clínica está bien situada, decorada con unos tonos neutros muy agradables y el personal es muy educado y profesional. En segundo lugar, el doctor es un gran profesional con amplia formación médica de trato cercano y muy humano, le importas y se nota. Adicionalmente el doctor tiene un equipo de especialistas en diferentes tratamientos que igualmente son muy buenos profesionales. El precio de los tratamientos es adecuado y justo. Sin duda recomendaría la clínica.

				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name Eduardo Faus Ipiña] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p Estoy muy contento de estar en las manos del doctor Rafael Pérez Escariz. Lo definiría como meticuloso, perfeccionista y con una gran pasión y conocimiento por su trabajo, además de ser alguien muy humano. 
						p Desde hace ocho años varios han sido sus trabajos en diferentes áreas, desde la estética a diferentes problemas dentales, y en todos ellos siempre he terminado muy satisfecho. 
						p Ante la incertidumbre de un problema dental, el tener la tranquilidad de estar en las manos de alguien que sabe es reconfortante y tiene un enorme valor añadido.

				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name Ana de Lima] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p Quiero darle las gracias al Doctor Pérez Escariz por el trato que recibo siempre que voy a su Clínica. Soy bastante cobarde y he tenido experiencias muy desagradables en el pasado con otros dentistas, y el Doctor Escariz siempre me da confianza y tranquilidad. Todos los tratamientos que me ha hecho han dado un resultado excelente, es una persona atenta y cuidadosa, y, algo que agradezco especialmente, siempre me explica el proceso que va a seguir con cada tratamiento; me siento en buenas manos y bien asesorada cuando tengo dudas.
						p Recomiendo absolutamente su clínica y a todos los profesionales que trabajan en ella. La periodoncista también es una profesional muy recomendable, y las enfermeras muy amables siempre. Diría incluso que es un lugar bonito, decorado con excelente gusto.

				li.module--quotes__list__item
					div.module--quotes__list__item__author
						p.
							#[span.module--quotes__list__item__author__name JoAnn DeCamp] #[br]
							#[span.module--quotes__list__item__author__treatment Paciente]
					div.module--quotes__list__item__quote
						p Hace quince años buscaba un dentista capaz de encontrar la solución a un dolor de muela que tenía de forma intermitente. Visité a numerosos odontólogos hasta que una amiga me recomendó al Dr. Perez Escariz, el que vio la fisura que los demás no pudieron ver.
						p Desde entonces no he dejado de acudir a la clínica del doctor Pérez Escariz para cualquier tratamiento, desde simples caries a implantes. Confío plenamente en él, tanto en cuanto a sus conocimientos médicos como en su habilidad como dentista. Es un doctor que sabe escuchar a sus pacientes y se preocupa por ellos. Le apasiona su profesión y eso se nota en el trato que da. Lo recomendaría sin reservas.
