nav#navigation
	div#navigation__inner
		div#navigation__top
			div#navigation__top_inner
				div#navigation__logo
					a(href="/es/" title="Volver al inicio") #[span Clínica Dental Escariz]
				div#navigation__menubutton
					button#navigation__menubutton__button #[span Mostrar menú]
		div#navigation__bottom
			div#navigation__bottom_inner
				div#navigation__menu
					ul
						li.current-menu-item
							a(href="/es/") Inicio
						li
							a(href="/es/tratamientos/") Tratamientos
						li
							a(href="/es/equipo-humano/") Equipo humano
						li
							a(href="/es/nuestros-centros/") Nuestros centros
						li.contact
							a(href="/es/contacto-form/") Contacto
				div#navigation__languages
					ul
						li.current-menu-item
							a(href="#") ES
						li
							a(href="#") EN
						li
							a(href="#") FI
