extends ../html/layouts/layout_default

block navigation
	include ../html/structure/navigation/navigation_home
	
block main__inner
	div#main__inner
		section.main__section#top
			div.main__section__text
				h1.main__section__text__title
					|Tranquilidad jurídica#[br]
					|para tu negocio
				div.main__section__text__intro
					p Nuevas formas de negocio, nuevos mercados, nuevos modelos de familia... Sabemos que el mundo ha cambiado, y nos gusta. Sabemos que las formas y métodos de los gabinetes legales "de toda la vida" ya no se ajustan a tu realidad. Por eso estamos siempre a la vanguardia en conocimientos y tecnologías aplicadas a nuestro campo. Para que tú no tengas que preocuparte de nada.
				button.button.button--cts.cts.appear Conócenos
			div.main__section__background
				img(src="/img/home-05-XL.jpg" srcset="/img/home-05-XL.jpg 1366w, /img/home-05-L.jpg 1024w, /img/home-05-M.jpg 640w" style="object-position: center center;" alt="Oxígeno Legal")
		section.main__section#tratamientos
			div.main__section__text
				h2
					span.main__section__text__pretitle Tratamientos
					span.main__section__text__sep :
					span.main__section__text__title
						|La última tecnología#[br]
						|para tu salud
				div.main__section__text__intro
					p Tenemos el equipo técnico más avanzado, y te ofrecemos los últimos tratamientos en odontología, implantología, ortodoncia...
				a(href="/es/tratamientos/").button.button--arrow.appear Conoce nuestros tratamientos
			div.main__section__background
				img(src="/img/home-02-XL.jpg" srcset="/img/home-02-XL.jpg 1366w, /img/home-02-L.jpg 1024w, /img/home-02-M.jpg 640w" style="object-position: center center;" alt="Clínica Dental Escariz - Tratamientos")
		section.main__section#equipo-humano
			div.main__section__text
				h2
					span.main__section__text__pretitle Equipo humano
					span.main__section__text__sep :
					span.main__section__text__title
						|Experiencia y profesionalidad#[br]
						|con una sonrisa
				div.main__section__text__intro
					p No basta con una gran experiencia médica para ser un buen profesional. El factor humano es fundamental.
				a(href="/es/equipo-humano/").button.button--arrow.appear Conoce a nuestro equipo
			div.main__section__background
				img(src="/img/home-03-XL.jpg" srcset="/img/home-03-XL.jpg 1366w, /img/home-03-L.jpg 1024w, /img/home-03-M.jpg 640w" style="object-position: top left;" alt="Clínica Dental Escariz - Equipo humano")
		section.main__section#nuestros-centros
			div.main__section__text
				h2
					span.main__section__text__pretitle Nuestros centros
					span.main__section__text__sep :
					span.main__section__text__title
						|En la ciudad#[br]
						|y en el campo
				div.main__section__text__intro
					p
						|Dos modernos centros odontológicos #[br]
						|para atenderte en todo momento.
				a(href="/es/nuestros-centros/madrid").button.button--arrow.button--lefthalf.appear Madrid
				a(href="/es/nuestros-centros/el-alamo").button.button--arrow.button--righthalf.appear El Álamo
			div.main__section__background
				img(src="/img/home-04-XL.jpg" srcset="/img/home-04-XL.jpg 1366w, /img/home-04-L.jpg 1024w, /img/home-04-M.jpg 640w" style="object-position: center center;" alt="Clínica Dental Escariz - Nuestros centros")
	div#main__pagination
		ul
			li
				a(href="#top")
					span 1
			li
				a(href="#tratamientos")
					span 2
			li
				a(href="#equipo-humano")
					span 3
			li
				a(href="#nuestros-centros")
					span 4
