div#cookies
	.inner
		div.cookies__content
			p.
				Utilizamos cookies de terceros para mejorar nuestros servicios. Si continúa navegando, consideramos que acepta su uso. Para más información consulte nuestra #[a(href="/es/politica-de-cookies/") política de cookies].
		button.cookies__accept.button Entendido
