script(type="text/javascript").
	window.homePath = '/es/';
	window.baseHtml = '/';
	window.baseStyleJs = '/style/js';
script(type="text/javascript" src="/style/js/libraries/browser-update/browser-update-min.js")
script(type="text/javascript" src="https://www.google.com/recaptcha/api.js")
script(type="text/javascript" data-main="/js/require-config-min.js" src="/js/libraries/require.js")
