div.module.module--centers

	ul.module--centers__list

		li.module--centers__list__item.touchHover
			div.module--centers__image(style="background-image:url(/img/centros-madrid-l.jpg);")
			div.module--centers__text
				h3.module--centers__text__title Madrid
				div.module--centers__text__details
					p
						| C/ Mejía Lequerica, 7#[br]
						| 28004 Madrid
					a.button(href="/es/nuestros-centros/madrid/" title="Conoce el centro de Clínica Dental Escariz en Madrid") Conoce nuestro centro

		li.module--centers__list__item.touchHover
			div.module--centers__image(style="background-image:url(/img/centros-el-alamo-l.jpg);")
			div.module--centers__text
				h3.module--centers__text__title El Álamo
				div.module--centers__text__details
					p
						| C/ de las Escuelas, 40#[br]
						| 28004 El Álamo (Madrid)
					a.button(href="/es/nuestros-centros/el-alamo/" title="Conoce el centro de Clínica Dental Escariz en El Álamo") Conoce nuestro centro
