div.module.module--gallery

	div.module--gallery__photos
		
		ul
			li
				a(href="/img/gallery/madrid/l/IMG_0011.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0011.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0002.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0002.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0104.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0104.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0012.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0012.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0100.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0100.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0015.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0015.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0023.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0023.jpg" alt="Clínica Dental Escariz - Centro de Madrid")
			li
				a(href="/img/gallery/madrid/l/IMG_0004.jpg" rel="gallery")
					img(src="/img/gallery/madrid/m/IMG_0004.jpg" alt="Clínica Dental Escariz - Centro de Madrid")

	div.module--gallery__vr
		
		a(href="https://www.google.com/maps/embed?pb=!1m0!3m2!1ses!2ses!4v1483456594992!6m8!1m7!1sbt-28AZSaIIAAAQvvcD28Q!2m2!1d40.42657178028361!2d-3.698242281827561!3f234!4f0!5f0.7820865974627469" data-fancybox-type="iframe")
			
			div.module--gallery__vr__image(style="background-image:url('/img/gallery/madrid/l/IMG_0001.jpg')")
			div.module--gallery__vr__text Haz clic para abrir la visita virtual

